
@{
    ViewBag.Title = "Cadastrousuario";
    
    Layout = "~/Views/Shared/Layout2.cshtml"; 

}

<div style="margin-bottom:1px; padding-bottom:10px; ">
    <center><img src="~/img/fourstarlogo.png"</center>
</div>

<center><h2> CADASTRO DE USUÁRIOS </h2></center>
<div style="  width:280px;    position: fixed; left: 50%;    margin-top: 50px;    margin-left: -130px; opacity:0.8;">
    <form class="navbar-form navbar-left" method='POST'>        

        <input type='email' class="form-control" placeholder="Email" name='email' required>

        <input type='password' class="form-control" placeholder="Senha" name='senha' required>
        <center>  <button style="margin-top:10px;" type="submit" class="btn btn-success" name='btnlogar'>Cadastrar</button><br></center>
    </form>
    
</div><br>

